<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.CriticalAssessmentCusMapper">

	<select id="searchByThesisId" resultType="web.nl.kltn.model.generator.CriticalAssessment">
		SELECT
			id,
			thesis_id,
			content,
			analysis_results,
			feedback_lecturer_question,
			council_question,
			behavior,
			marker,
			is_deleted,
			created_at,
			update_at
		FROM critical_assessment
		WHERE 
			thesis_id = #{thesisId}
			AND is_deleted = 0
	</select>
	
	<select id="searchByMarker" resultType="web.nl.kltn.model.generator.CriticalAssessment">
		SELECT
			id,
			thesis_id,
			content,
			analysis_results,
			feedback_lecturer_question,
			council_question,
			behavior,
			marker,
			is_deleted,
			created_at,
			update_at
		FROM critical_assessment
		WHERE 
			marker = #{marker}
			AND is_deleted = 0
	</select>

</mapper>