<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.nl.kltn.mapper.CriticalAssessmentScoreCusMapper">

	<resultMap type="web.nl.kltn.model.generator.CriticalAssessmentScore" id="CriticalAssessmentScore">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="ca_id" property="caId" jdbcType="VARCHAR"/>
		<result column="student_id" property="studentId" jdbcType="VARCHAR"/>
		<result column="score" property="score" jdbcType="DOUBLE"/>
		<result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
		<result column="created_at" property="createdAt" jdbcType="BIGINT"/>
		<result column="updated_at" property="updatedAt" jdbcType="BIGINT"/>
	</resultMap>

	<select id="searchByCAId" resultType="CriticalAssessmentScore">
		SELECT
			id,
			ca_id,
			student_id,
			score,
			is_deleted,
			created_at,
			updated_at
		FROM critical_assessment_score
		WHERE
			ca_id = #{caId}
			AND is_deleted = 0
	</select>
	
	<delete id="deleteByCAId">
		DELETE FROM critical_assessment_score WHERE ca_id = #{caId}
	</delete>

</mapper>