<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.DefenseRatingCusMapper">

	<resultMap id="DefenseRating"
		type="web.nl.kltn.model.generator.DefenseRating">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="thesis_id" jdbcType="VARCHAR"
			property="thesisId" />
		<result column="marker" jdbcType="VARCHAR" property="marker" />
		<result column="content_score" jdbcType="VARCHAR"
			property="contentScore" />
		<result column="analysis_result_score" jdbcType="VARCHAR"
			property="analysisResultScore" />
		<result column="feedback_lecturer_question_score"
			jdbcType="VARCHAR" property="feedbackLecturerQuestionScore" />
		<result column="council_question_score" jdbcType="VARCHAR"
			property="councilQuestionScore" />
		<result column="behavior_score" jdbcType="VARCHAR"
			property="behaviorScore" />
		<result column="is_deleted" jdbcType="BIT" property="isDeleted" />
		<result column="created_at" jdbcType="BIGINT"
			property="createdAt" />
		<result column="updated_at" jdbcType="BIGINT"
			property="updatedAt" />
	</resultMap>

	<select id="findByThesisId" resultMap="DefenseRating">
		SELECT
			id,
			thesis_id,
			marker,
			content_score,
			analysis_result_score,
			feedback_lecturer_question_score,
			council_question_score,
			behavior_score,
			is_deleted,
			created_at,
			updated_at
		FROM
			defense_rating
		WHERE
			thesis_id = #{thesisId}
	</select>

</mapper>