<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ProtectionRatingCusMapper">

    <select id="searchByThesisId" resultType="web.nl.kltn.model.generator.ProtectionRating">
        SELECT
        id,
        thesis_id,
        content,
        analysis_results,
        feedback_lecturer_question,
        council_question,
        behavior,
        marker,
        is_deleted,
        created_at,
        updated_at
        FROM protection_rating
        WHERE
        thesis_id = #{thesisId}
        AND is_deleted = 0
    </select>

</mapper>