<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ProtectionRatingCusMapper">

	<select id="searchByThesisId" resultType="web.nl.kltn.model.generator.ProtectionRating">
		SELECT
			id,
			thesis_id,
			marker,
			page_number,
			chapter_number,
			table_number,
			chart_number,
			drawing_board_number,
			document_number,
			calculation_software_number,
			layout,
			writing,
			technical_terms,
			advantage,
			defect,
			conclude,
			suggestion,
			is_deleted,
			created_at,
			update_at
		FROM protection_rating
		WHERE 
			thesis_id = #{thesisId}
			AND is_deleted = 0
	</select>
	
</mapper>