<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.StudentCusMapper">

	<resultMap type="web.nl.kltn.model.dto.StudentDTO" id="StudentDTO">
		<id column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="passsword" property="passsword" jdbcType="VARCHAR"/>
		<result column="gender" property="gender" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="fname" property="fname" jdbcType="VARCHAR"/>
		<result column="birthday" property="birthday" jdbcType="DATE"/>
		<result column="faculty" property="faculty" jdbcType="VARCHAR"/> 
		<result column="is_student" property="isStudent" jdbcType="BIT"/> 
		<result column="is_teacher" property="isTeacher" jdbcType="BIT"/> 
		<result column="student_class" property="studentClass" jdbcType="VARCHAR"/> 
		<result column="is_deleted" jdbcType="BIT" property="isDeleted" />
		<result column="created_at" jdbcType="BIGINT"
			property="createdAt" />
		<result column="updated_at" jdbcType="BIGINT"
			property="updatedAt" />
	</resultMap>
	
	<select id="getStudentByUserId" resultMap="StudentDTO">
		SELECT
			u.user_id,
			u.username,
			u.password,
			u.gender,
			u.email,
			u.fname,
			u.birthday,
			u.faculty,
			u.is_student,
			u.is_teacher,
			u.is_deleted,
			u.created_at,
			u.updated_at,
			std.student_class			
		FROM
			student std
		LEFT JOIN
			user u
		ON std.user_id = u.user_id
		WHERE std.user_id = #{userId} AND u.is_deleted = 0
	</select>
	
	<delete id="deleteByUserId">
		DELETE FROM student WHERE user_id = #{userId}
	</delete>

</mapper>