<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ThesisLecturerCusMapper">

    <resultMap type="web.nl.kltn.model.generator.ThesisLecturer" id="ThesisLecturer">
    	<id column="id" property="id" jdbcType="VARCHAR"/>
    	<result column="thesis_id" property="thesisId" jdbcType="VARCHAR"/>
    	<result column="lecturer_id" property="lecturerId" jdbcType="VARCHAR"/>
    	<result column="is_active" property="isActive" jdbcType="BIT"/>
    	<result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    	<result column="created_at" property="createdAt" jdbcType="BIGINT"/>
    	<result column="updated_at" property="updatedAt" jdbcType="BIGINT"/>
    </resultMap>

	<select id="getThesisLecturerByThesisId" resultMap="ThesisLecturer">
		SELECT
			id,
			thesis_id,
			lecturer_id,
			is_active,
			is_deleted,
			created_at,
			updated_at
		FROM
			thesis_lecturer
		WHERE
			thesis_id = #{thesisId}
	</select>
	
	<update id="acceptInvite">
		UPDATE thesis_lecturer SET is_active = 1 WHERE thesis_id = #{thesisId} AND lecturer_id = #{userId}
	</update>
	
	<update id="declineInvite">
		UPDATE thesis_lecturer SET is_deleted = 1 WHERE thesis_id = #{thesisId} AND lecturer_id = #{userId}
	</update>

</mapper>