<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ThesisReportCalendarCusMapper">

	<select id="searchByThesisId" resultType="web.nl.kltn.model.generator.ThesisReportCalendar">
		SELECT
			id,
			thesis_id,
			timestamp,
			type,
			is_deleted,
			created_at,
			updated_at
		FROM thesis_report_calendar
		<where>
			<if test="thesisId != null">
				thesis_id = #{thesisId}
			</if>
			AND type = #{type}
			AND is_deleted = 0
		</where>			
	</select>

</mapper>