<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ThesisCusMapper">

	<select id="search"
		resultType="web.nl.kltn.model.generator.Thesis">
		<bind name="offset" value="(page - 1) * pageSize" />
		SELECT
		id,
		topic,
		description,
		year,
		semester,
		status,
		is_deleted,
		created_at,
		update_at
		FROM
		thesis
		<where>
			<if
				test="searchCondition != null and searchCondition.topic != null">
				AND topic LIKE CONCAT('%', #{searchCondition.topic}, '%')
			</if>
			<if
				test="searchCondition != null and searchCondition.year != null">
				AND year = #{searchCondition.year}
			</if>
			<if
				test="searchCondition != null and searchCondition.semester != null">
				AND semester = #{searchCondition.semester}
			</if>
			<if
				test="searchCondition != null and searchCondition.status != null">
				AND status = #{searchCondition.status}
			</if>
			AND is_deleted = 0
		</where>
		LIMIT #{pageSize} OFFSET #{offset}
	</select>
</mapper>