<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.ThesisRegisterCalendarCusMapper">
	
	<resultMap type="web.nl.kltn.model.generator.ThesisRegisterCalendar" id="ThesisRegisterCalendar">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="start_at" property="startAt" jdbcType="BIGINT"/>
		<result column="end_at" property="endAt" jdbcType="BIGINT"/>
		<result column="active" property="active" jdbcType="BIT" />
		<result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
		<result column="created_at" property="createdAt" jdbcType="BIT"/>
		<result column="updated_at" property="updatedAt" jdbcType="BIT"/>
	</resultMap>

	<select id="getActiveRegisterCalendar" resultMap="ThesisRegisterCalendar">
		SELECT
			id,
			start_at,
			end_at,
			active,
			is_deleted,
			created_at,
			updated_at
		FROM thesis_register_calendar
		WHERE
			(UNIX_TIMESTAMP() * 1000 BETWEEN start_at AND end_at)
			AND active = 1
			AND is_deleted = 0
	</select>

</mapper>