<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.UserCusMapper">

	<resultMap type="web.nl.kltn.model.UserCus" id="UserCus">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<collection property="roles" ofType="string" jdbcType="VARCHAR">
			<result column="role_name"/>
		</collection>
	</resultMap>


	<select id="login" parameterType="web.nl.kltn.model.LoginCondition" resultMap="UserCus">
		SELECT 
			u.user_id,
			u.username,
			u.password,
			r.role_name
		FROM
			user u
		LEFT JOIN role_user ru ON u.user_id = ru.user_id
		LEFT JOIN role r ON ru.role_id = r.role_id
		WHERE 
			u.username = '${username}'
		AND u.password = '${password}'
	</select>
	
	<select id="findByUserId" parameterType="java.lang.String" resultMap="UserCus">
		SELECT 
			u.user_id,
			u.username,
			u.password,
			r.role_name
		FROM
			user u
		LEFT JOIN role_user ru ON u.user_id = ru.user_id
		LEFT JOIN role r ON ru.role_id = r.role_id
		WHERE 
			u.user_id = '${userId}'
	</select>
	
	<select id="findByUsername" parameterType="java.lang.String" resultMap="UserCus">
		SELECT 
			u.user_id,
			u.username,
			u.password,
			r.role_name
		FROM
			user u
		LEFT JOIN role_user ru ON u.user_id = ru.user_id
		LEFT JOIN role r ON ru.role_id = r.role_id
		WHERE 
			u.username = '${username}'
	</select>

</mapper>