<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.nl.kltn.mapper.UserCusMapper">

	<resultMap type="web.nl.kltn.model.UserCus" id="UserCus">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="role_name" property="role"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="login" parameterType="web.nl.kltn.model.LoginCondition" resultMap="UserCus">
		SELECT 
			user_id,
			role_name
		FROM
			user u
		LEFT JOIN role r ON u.role = r.role_id
		WHERE 
			u.username = '${username}'
		AND u.password = '${password}'
	</select>

</mapper>